* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Montserrat', sans-serif;
    background: #eee;
    color: #333;
}

strong {
    color: #00cfef;
}

a {
    color: #ddd;
    text-decoration: none;
}

p {
    color: white;
}

h1,
h2,
h3,
h4 {
    color: white;
}

ul {
    list-style: none;
}

/*header*/
.header-elem {
    height: 100px;
    padding: 1rem;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul {
    list-style: none;
    display: flex;
    margin-left: 30px;
}

header ul li {
    text-align: center;
    margin-right: 40px;
    color: #00cfef;
}

header ul li a:hover {
    color: #00cfef;
}

.active {
    color: #00cfef;
}


/*container*/
.container {
    /* padding-top:900px; */
    display: flex;
    flex-direction: column;
    height: 800px;
    justify-content: center;
    align-items: center;
    background: url(../images/route.jpg)center center/cover;

    animation-name: container;
    animation-duration: 30s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

}

@keyframes container {
    0% {
        background: url(../images/route2.jpg) center center/cover;

    }

    10% {
        background: url(../images/ville.jpg) center center/cover;
    }
}

.vp-container {
    /* flex: auto; */
    max-width: 800px;
    text-align: center;
    background: #222;
}

.container h1 {
    font-size: 80px;
    margin-bottom: 70px;

}

.container p {
    font-size: 30px;
    margin-bottom: 60px;
}

.container-button {
    display: block;
    padding: 1rem 2rem;
    border: 1px solid #00cfef;
    border-radius: -2px;
    margin-bottom: 50px;
    background: none;
    color: #00cfef;
    font-size: 1rem;
    cursor: pointer;

}

.container-button:hover {
    border: 1px solid white;
    color: white;
    background: #00cfef;
    transition: all 0.5s ease-in-out;
}

.slide-container {
    max-width: 100vh;
    position: relative;
    margin: auto;

}

.prev {
    cursor: pointer;
    position: absolute;
    margin-left: 70px;
    top: 50%;
    width: 60px;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    color: #00cfef;
    font-size: 30px;
    text-align: center;
    padding-block: 5px;
    border: 1px solid #00cfef;



}

.next {
    cursor: pointer;
    position: absolute;
    right: 0;
    margin-right: 70px;
    top: 50%;
    width: 60px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    color: #00cfef;
    font-size: 30px;
    padding-block: 5px;
    border: 1px solid #00cfef;

}

.prev:hover {
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    background: #00cfef;
    transition: all 0.5s ease-in-out;
}

.next:hover {
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    background: #00cfef;
    transition: all 0.5s ease-in-out;

}

/*offer*/

.nav {
    background: #222;
    height: 800px;
    width: 100%;
    padding-bottom: 2rem;
}

.offer {
    text-align: center;
}

.offer h2 {
    text-align: center;
    font-size: 30px;
    padding-top: 80px;
    margin-bottom: 20px;
    /* background-color: #00cfef;
    font-weight: bold; */


}

.offer h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

.offer-team {
    padding: 10rem 1rem 10rem 1rem;
    text-align: center;
    display: block;
}

.offer-list {
    text-align: center;
    display: flex;
    flex: row nowrap;
    justify-content: space-between;
}

.offer-list-elem b {
    color: white;
    font-size: 80px;
    background: #00cfef;
    width: 195px;
    height: 195px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 220px;
    margin-bottom: 20px;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.anneau {
    display: block;
    position: absolute;
    width: 215px;
    height: 215px;
    left: 11.75%;
    margin-top: -292px;
    border-radius: 200px;
    border: solid #00cfef 5px;
}

.offer-list-elem b:hover {
    font-size: 100px;
}


.fa :hover .anneau {
    display: block;
}



/*overplay*/
.overplay {
    width: 100%;
    padding-bottom: 100px;
    height: 400px;
    padding-bottom: 5rem;
    background: url(../images/fleur.jpg);
}

.overplay-one {
    text-align: center;
    margin-top: 100px;
}

.overplay-one strong {
    font-size: 40px;
    text-align: center;
    padding-bottom: 5rem;

}

.overplay-one p {
    color: #333;
    padding-bottom: 5rem;
    padding-top: 1rem;
    padding-right: 4rem;
}

.overplay1 ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.time {
    margin: 50px;
    margin-top: 10px;
}

.time p {
    font-size: 80px;
    font-weight: 80px;
    margin-top: 40px;
}

/*team*/
.team {
    height: 800px;
    background: #333;
}

.team-titre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.team-titre h1 {
    font-size: 30px;
    margin-top: 100px;
    padding: 0 10px;
    background: #00cfef;
}

.team-titre h3 {
    font-size: 30px;
    margin-top: 20px;
}

.team-titre p {
    margin-top: 20px;

}

.team-social {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

.team-social>div {
    height: 80%;
    width: 20%;
    border: solid 2px white;
    transition: all 0.2s ease-in-out;
}

.team-social>div:hover {
    border: solid 2px #00cfef;
    transition: all 0.2s ease-in-out;
}

.team-social>div>img {
    height: 80%;
    width: 100%;
}

.text {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.3rem;
}

.module {
    height: 355px;
    width: 303px;
    background-color: #00cfef67;
    position: absolute;
    display: none;
}

.team-social>div:hover .module {
    display: block;
    transition: all 0.2s ease-in-out;
}